@import './highlight-js.scss';

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../assets/fonts/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'),
        url(../assets/fonts/iconfont/MaterialIcons-Regular.woff2)
            format('woff2'),
        url(../assets/fonts/iconfont/MaterialIcons-Regular.woff) format('woff'),
        url(../assets/fonts/iconfont/MaterialIcons-Regular.ttf)
            format('truetype');
}

html,
body,
#app {
    height: 100%;
}
